.container {
    --size: 80px;
    --color: #00adb5;
    --speed: 3s;
    position: relative;
    width: var(--size);
    height: var(--size);
    transform: rotateZ(45deg);

    & > div {
        position: absolute;
        height: calc(var(--size) / 40);
        background: linear-gradient(-45deg, var(--color), rgb(0 0 255 / 0%));
        border-radius: 50%;
        animation: var(--speed) scaling ease-in-out infinite,
            var(--speed) move-to ease-in-out infinite;
    }

    & > div:nth-of-type(1) {
        top: 30%;
        left: 25%;
        animation-delay: 0s;
    }

    & > div:nth-of-type(2) {
        top: 10%;
        left: 0%;
        animation-delay: 0.8s;
    }

    & > div:nth-of-type(3) {
        top: 15%;
        left: 10%;
        animation-delay: 0.5s;
    }

    & > div:nth-of-type(4) {
        top: 25%;
        left: 30%;
        animation-delay: 1.6s;
    }

    & > div:nth-of-type(5) {
        top: 40%;
        left: 4%;
        animation-delay: 3.2s;
    }

    & > div:nth-of-type(6) {
        top: 55%;
        left: 18%;
        animation-delay: 1.2s;
    }

    & > div:nth-of-type(7) {
        top: 66%;
        left: 3%;
        animation-delay: 0.4s;
    }

    & > div:nth-of-type(8) {
        top: 77%;
        left: 24%;
        animation-delay: 2s;
    }

    & > div:nth-of-type(9) {
        top: 83%;
        left: 30%;
        animation-delay: 1s;
    }
}

@keyframes scaling {
    0% {
        width: 0;
    }

    50% {
        width: calc(var(--size) / 2);
    }

    100% {
        width: 0;
    }
}

@keyframes move-to {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--size) / 4 * 3));
    }
}
