/* stylelint-disable selector-max-id */
/* stylelint-disable selector-id-pattern */
@import 'tailwindcss/base';
@import './tailwind/base';
@import 'tailwindcss/components';
@import './tailwind/components';
@import 'tailwindcss/utilities';
@import './tailwind/utilities';

html,
body,
#root {
    width: 100%;
    height: 100vh !important;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(170 170 170 / 60%);
    border-radius: 4px;
}

*::-webkit-scrollbar-track-piece {
    background: #fff;
}

*::-webkit-scrollbar-thumb:horizontal:hover,
*::-webkit-scrollbar-thumb:vertical:hover {
    background-color: var(--ant-info-color);
}
.ant-tabs-tab-remove {
    display: flex;
}